<h1>Welcome to DesignCloud <%=@username %>!</h1>
<h1 class="subheading">Discover Collections</h1>

<div class="container view-collections">
   <div class="row">
    <%@collections.each do |collection| %>
        <div class="col-md-4 col-sm-6 column">
          <div class="thumbnail">
            <div class="caption">
              <h3><a href="/collections/<%=collection.id%>"><%= collection.name %></a></h3>

            </div>
            <p>By user: <%= collection.user.username %></p>

            <% if collection.images == [] %>
              <img src="/happy_cloud.png">
            <% else %>
              <img src="<%= collection.images[0].url %>">
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<!-- <button onclick="location.href='/collections'">My Collections</button> -->
<!-- <button onclick="location.href='/logout'">Logout</button>
 -->
