<!-- <style>
  .frame .thumbnail img {
    width: 100%;
  }

  input[name="url"] {
    width: 55%;
  }
</style> -->

<div class="container frame">
  <div class="row">
    <div class="col-xs-12">
      <a href="<%= @image.url %>" class="thumbnail"><img src="<%= @image.url %>"></a>
      <div class="caption">
        <p>
          <form action="/images/<%= @image.id %>" method="post">
            <input type="hidden" name="_method" value="patch">

            <label>Change Url:</label>
            <input type="text" name="url" value="<%= @image.url %>">
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
          </form>
        </p>
        <p>
          <a href="/collections/delete_image/<%= @image.id %>" >
            <button class="btn btn-primary">Delete Image</button>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
