<div class="container frame">
  <div class="row">
    <div class="col-xs-12">
      <br></br>
      <a href="<%= @image.url %>" class="thumbnail"><img src="<%= @image.url %>"></a>
      <div class="caption">
        
        <% if @image.collection.owner?(current_user) %>
          <form action="/images/<%= @image.id %>" method="post">
            <input type="hidden" name="_method" value="patch">

            <label><p>Change Url:</p></label>
            <input type="text" class="edit-url" name="url" value="<%= @image.url %>">
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
          </form>
        <% end %>
          
        <br></br>
        
         <% if @image.collection.owner?(current_user) %>
           <form action="/images/<%= @image.id %>" method="post">
             <input type="hidden" name="_method" value="delete">
             <button type="submit" class="btn btn-primary" value="submit">Delete Image</button>
           </form>
         <% end %>
      
        <br></br>
        
      </div>
    </div>
  </div>
</div>
