<h1><%= @collection.name %></h1>
<div class="container">

   <div class="container gallery">
      <div class="row">
         <% @collection.images.each do |image| %>
            <div class="col-md-4 col-sm-6 column">
            <!-- ++<a href=<* image.generate_link(current_user) %> class="thumbnail"><img src="<* image.url %>"></a> -->
            
            <% if @collection.user == current_user %>
                  <a href="/collections/image/<%=image.id%>" class="thumbnail"><img src="<%= image.url %>"></a>
            <% else %> 
                  <a href="<%= image.url %>" class="thumbnail" target="_blank"><img src="<%= image.url %>"></a>
            <% end %>
            </div>
         <% end %>
      </div>
   </div>

   <% if is_logged_in? && @collection.user_id == current_user.id %>
      
      <p>Click on an image to edit the URL or delete it</p>

      <button onclick="location.href='/collections/<%=@collection.id%>/edit'" class="btn btn-primary">Edit Collection</button>

      <button onclick="location.href='/collections/<%=@collection.id%>/delete'" class="btn btn-primary">Delete Collection</button>
   <%end %>
</div>
  

