<div class="container">
   <h1><%= @collection.name %></h1>

   <% if @collection.owner?(current_user) %>
      <p>Click on an image to edit the URL or delete it.</p>
   <% end %>

   <div class="gallery">
      <div class="row">
         <% @collection.images.each do |image| %>
            <div class="col-md-4 col-sm-6 column">
            <a href="<%= image.generate_link(current_user) %>" class="thumbnail"><img src="<%= image.url %>"></a>

            </div>
         <% end %>
      </div>
   </div>

   <% if @collection.owner?(current_user) %>
      <br></br>
      <button onclick="location.href='/collections/<%=@collection.id%>/edit'" class="btn btn-primary">Edit Collection</button>

      <button onclick="location.href='/collections/<%=@collection.id%>/delete'" class="btn btn-primary">Delete Collection</button>
   <%end %>
   
</div>